body {
    background-color: #59D5E0;
    padding: 1em 1em 1em 1em
}

h1 {
    color:#F7EEDD;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin:0em 0em 0.5em 0em

}

div{
    color: #008DDA;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #008DDA;
    background-color: #FFF455;
    /* background-color: rgb(88, 101, 242); */
    transition: background-color .17s ease,color .17s ease;
    :hover {
        background-color: rgb(71, 82, 196);
    }
    margin: 0.5em

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


table {
  background: #F7EEDD;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #008DDA;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #41C9E2;
  font-weight: 400;
  padding: 0.65em 1em;
}
.no {
  color: #ACE2E1;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  /* background: #be20c6; */
  background: #DAFFFB;
}
#yes{
    font-weight: 500;
    color: 008DDA;
}