body {
    background-color: pink;
}

h1 {
    color:rgb(33, 32, 32);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
}

div{
    color: rgb(65, 63, 63);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    border: none;
    color: #fff;
    background-color: rgb(88, 101, 242);
    transition: background-color .17s ease,color .17s ease;
    :hover {
        background-color: rgb(71, 82, 196);
    }

}

#yes {
    color: green;
    font-weight: 500;
}